---
const { color, title, subtitle, id, showFooterContent } = Astro.props;
const textColor = `text-${color}`;
import FooterMenu from './FooterMenu.astro';
---

<section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
  data-header-color={color}
  id={id}
>
  <div class="z-30 relative h-full pt-40 flex flex-col">
    <header>
      <h2 class={`${textColor} pt-0 w-25 text-[40px] font-medium bg-slate-500/50`}>
        {title}
      </h2>
      <p class={`${textColor} text-sm bg-slate-500/50`}>
        {subtitle}
      </p>
    </header>
    <section class={`${textColor}  bg-slate-500/70 mt-80`}>
      <h3 class="font-bold">
        Descripción
      </h3>
      <div class="flex flex-row justify-center " >
        <p class={`${textColor} text-sm mt-2 w-2/9 text-justify p-2 px-5`}>
          <!-- {subtitle} -->
          - <strong> Lorem ipsum dolor sit, </strong> amet consectetur adipisicing elit. Odit aliquid ea eaque aliquam corrupti voluptatum reprehenderit iusto corporis iste et voluptatibus molestiae, expedita enim magnam accusantium, nostrum quasi voluptate molestias?
        </p>        
        <p class={`${textColor} text-sm mt-2 w-2/9 text-justify p-2 px-5`}>
          <!-- {subtitle} -->
          - <strong> Lorem ipsum dolor sit, </strong> amet consectetur adipisicing elit. Odit aliquid ea eaque aliquam corrupti voluptatum reprehenderit iusto corporis iste et voluptatibus molestiae, expedita enim magnam accusantium, nostrum quasi voluptate molestias?
        </p>
        <p class={`${textColor} text-sm mt-2 w-2/9  text-justify p-2 px-5`}>
          <!-- {subtitle} -->
          - <strong> Lorem ipsum dolor sit, </strong> amet consectetur adipisicing elit. Odit aliquid ea eaque aliquam corrupti voluptatum reprehenderit iusto corporis iste et voluptatibus molestiae, expedita enim magnam accusantium, nostrum quasi voluptate molestias?
        </p>
      </div>

    </section>

    <footer class="flex flex-col flex-grow justify-end pb-20 z-30">
      <slot name="footer" />
      <!-- Contidionally load footer: -->
      {showFooterContent && <FooterMenu />}
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <slot name="background" />
  </div>
</section>
