---
const { color, title, subtitle, id, showFooterContent } = Astro.props;
const textColor = `text-${color}`;
import FooterMenu from './FooterMenu.astro';
---

<section
  class="landing-section bg-black h-screen w-auto text-center overflow-hidden relative"
  data-header-color={color}
  id={id}
>
  <div class="z-30 relative h-full pt-20 sm:pt-20 md:pt-40 flex flex-col  bg-green-800/20">
    <header class="w-auto p-5 mx-auto  sm:mb-0 lg:mb-80">
      <h2 class={`${textColor} pt-0 text-[25px] sm:text-[30px] md:text-[40px] bg-slate-500/50`}>
        {title}
      </h2>
      <p class={`${textColor} text-sm bg-slate-500/50`}>
        {subtitle}
      </p>
    </header>
    
    <footer class="flex flex-col flex-grow justify-end pb-20 z-30">
      <section class={`${textColor}   sm:w-full lg:w-2/3 mx-auto flex sm:flex-col md:flex-row justify-around mb-2 `}>
        <div class="mx-2 w-4/12 bg-slate-500/70 rounded-lg">
          <h3 class="font-bold pt-3 text-[25px]">
            Descripción
          </h3>
          <p class={`${textColor} text-[10px] md:text-[20px]  mt-2  text-justify sm:px-1`}>
            <!-- {subtitle} -->
            - <strong> Lorem ipsum dolor sit, </strong> amet consectetur adipisicing elit. Odit aliquid ea eaque aliquam corrupti voluptatum reprehenderit iusto corporis iste et voluptatibus molestiae, expedita enim magnam accusantium, nostrum quasi voluptate molestias?
          </p>        
        </div>
        <div class="mx-2 w-4/12 bg-slate-500/70 rounded-lg">
          <h3 class="font-bold pt-3 text-[25px]">
            Detalles
          </h3>
          <p class={`${textColor} text-[10px] md:text-[20px]  mt-2  text-justify sm:px-1`}>
            <!-- {subtitle} -->
            - <strong> Lorem ipsum dolor sit, </strong> amet consectetur adipisicing elit. Odit aliquid ea eaque aliquam corrupti voluptatum reprehenderit iusto corporis iste et voluptatibus molestiae, expedita enim magnam accusantium, nostrum quasi voluptate molestias?
          </p>        
        </div>
        <div class="mx-2 w-4/12 bg-slate-500/70 rounded-lg">
          <h3 class="font-bold pt-3 text-[25px]">
            Alcances
          </h3>
          <p class={`${textColor} text-[10px] md:text-[20px]  mt-2  text-justify sm:px-1`}>
            <!-- {subtitle} -->
            - <strong> Lorem ipsum dolor sit, </strong> amet consectetur adipisicing elit. Odit aliquid ea eaque aliquam corrupti voluptatum reprehenderit iusto corporis iste et voluptatibus molestiae, expedita enim magnam accusantium, nostrum quasi voluptate molestias?
          </p>        
        </div>
      </section>
      <slot name="footer" />
      <!-- Contidionally load footer: -->
      {showFooterContent && <FooterMenu />}
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <slot name="background" />
  </div>
</section>
